.layout-topbar-dim {
    --topbar-bg: #3C4962;
    --topbar-menu-button-bg: rgba(151, 162, 179, 0.2); 
    --topbar-menu-button-hover-bg: #495771;
    --topbar-item-text-color: #CACFDB;
    --topbar-item-hover-bg:#495771;
    --topbar-item-secondary-text-color: rgba(202, 207, 219, 0.7);
    --topbar-item-bg-color: rgba(151, 162, 179, 0.2);
}