.layout-topbar-dark {
    --topbar-bg: #434B54;
    --topbar-menu-button-bg: rgba(202, 207, 219, 0.2);
    --topbar-menu-button-hover-bg: #4E565F;
    --topbar-item-text-color: #CACFDB;
    --topbar-item-hover-bg: rgba(78, 86, 95, 0.7);
    --topbar-item-secondary-text-color: rgba(202, 207, 219, 0.7);
    --topbar-item-bg-color:rgba(202, 207, 219, 0.2);
}