.layout-topbar-light {
    --topbar-bg: #FDFEFF;
    --topbar-menu-button-bg: #E8F1F8;
    --topbar-menu-button-hover-bg: rgba(232, 241, 248, 0.7);
    --topbar-item-text-color: #515C66;
    --topbar-item-hover-bg: rgba(232, 241, 248, 0.7);
    --topbar-item-secondary-text-color: rgba(81, 92, 102, 0.7);
    --topbar-item-bg-color: #E8F1F8;
}
