.layout-menu-dark {
    --menu-bg: #434B54;
    --menu-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    --root-menuitem-text-color: #CDD2DB;
    --menuitem-text-color: #E5E8EC;
    --menuitem-hover-bg: #676E77;
    --active-menuitem-text-color: #ffffff;
    --active-menuitem-bg: #4E565F;
}