.layout-menu-light {
    --menu-bg: #FDFEFF;
    --menu-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    --root-menuitem-text-color: #657380;
    --menuitem-text-color: #515C66;
    --menuitem-hover-bg: rgba(90, 101, 124, 0.2);
    --active-menuitem-text-color: #282E33;
    --active-menuitem-bg: rgba(90, 101, 124, 0.2);
}