$primaryLightColor: #7FE2CE;
$primaryColor: #59C5B9;
$primaryDarkColor: #2B9F9C;
$primaryDarkerColor: #1F8288;
$primaryTextColor: #f8fafc;

$highlightBg: #E8F5E9 !default;
$highlightTextColor: #495057 !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';