<div class="h-screen text-bluegray-200" style="background: linear-gradient(180deg, #525d72 0%, #69768d 100%)">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="flex justify-content-center align-items-center h-full ">
            <div class="h-full text-center py-6 px-4 flex justify-content-between flex-column max-w-30rem">
                <a>
                    <img src="assets/layout/images/logo-poseidon-dark.svg" alt="poseidon-layout" height="45px" />
                </a>
                <div>
                    <h2 class="text-bluegray-200">Login To Your Premium Account</h2>
                    <p class="font-semibold m-0 text-bluegray-100 mb-5">
                        You don't have an account?
                        <a href="#" class="cursor-pointer text-white"> Sign up</a>
                    </p>
                    <input type="text" autocomplete="off" pInputText formControlName="email" placeholder="Email"
                        class="w-11 mb-4 text-bluegray-600 surface-ground " />
                    <input type="password" autocomplete="off" pInputText formControlName="password" placeholder="Password"
                        class="w-11 mb-4 text-bluegray-600 surface-ground " />
                    <button pButton pRipple label="LOGIN" type="submit" class="w-11 "></button>
                </div>

                <p *ngIf="errorMessage" class="font-semibold mt-2 text-red-300">
                    {{errorMessage}}
                </p>
            </div>
        </div>
    </form>
</div>