$primaryLightColor: #72BFED;
$primaryColor: #4D9FDC;
$primaryDarkColor: #1B74C5;
$primaryDarkerColor: #135AA9;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(100, 181, 246, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';