$primaryLightColor: #7FA7CC;
$primaryColor:#557DAA;
$primaryDarkColor: #3E6192;
$primaryDarkerColor: #2A487A;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(100, 181, 246, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';