$primaryLightColor: #79E1E2;
$primaryColor:#4FC4CF;
$primaryDarkColor: #399DB2;
$primaryDarkerColor: #277995;
$primaryTextColor: #363E47;

$highlightBg: rgba(100, 181, 246, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';