$primaryLightColor: #C8996A;
$primaryColor: #A46B3E;
$primaryDarkColor: #8D522D;
$primaryDarkerColor: #763B1F;
$primaryTextColor: #f8fafc;

$highlightBg: #FFF3E0 !default;
$highlightTextColor: #495057 !default;
$highlightFocusBg: #ebe0ce !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';