$primaryLightColor: #B380CD;
$primaryColor:#8A56AD;
$primaryDarkColor: #6D3E94;
$primaryDarkerColor: #522B7C;
$primaryTextColor: #f8fafc;

$highlightBg: #F3E5F5 !default;
$highlightTextColor: #495057 !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';