$primaryLightColor: #59C5B9;
$primaryColor: #2B9F9C;
$primaryDarkColor: #1F8288;
$primaryDarkerColor: #156472;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(129, 199, 132, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';