$primaryLightColor: #CA73B2;
$primaryColor: #A74896;
$primaryDarkColor: #8F3487;
$primaryDarkerColor: #772478;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(186, 104, 200, 0.16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';